<head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta
      name="author"
      content="Mark Otto, Jacob Thornton, and Bootstrap contributors"
    />
    <meta name="generator" content="Jekyll v4.1.1" />
    <title>Drug</title>

    <!--Fontawesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!--jQuery-->
    <script src="/plugins/jQuery/jquery.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <script src="/plugins/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="/css/styles.css" />
  </head>