<nav
          id="sidebarMenu"
          class="col-md-2 text-white col-lg-2 d-md-block bg-dark sidebar"
        >
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <a class="nav-link active" href="/prescription/admin/disease?add=true">Add disease</a>
              <a class="nav-link" href="/prescription/admin/disease"> Disease list </a>
              <a class="nav-link" href="/prescription/admin/disease/alternative?add=true">Alternative Name</a>
              <a class="nav-link" href="/prescription/admin/disease/alternative">Alternative Name List</a>

              <a class="nav-link active" href="/prescription/admin/generic-drug?add=true"> Add Generic drug </a>
              <a class="nav-link" href="/prescription/admin/generic-drug"> Generic Drug list </a>

              <a class="nav-link active" href="/prescription/admin/drug?add=true"> Add drug </a>
              <a class="nav-link" href="/prescription/admin/drug">Drug list </a>

              <a class="nav-link" href="/prescription/admin/templates/cc">C/C </a>
              <a class="nav-link" href="/prescription/admin/templates/advice">Advice</a>
              <a class="nav-link" href="/prescription/admin/templates/investigation">Investigation</a>
              <a class="nav-link" href="/prescription/admin/templates/counselling">Counselling</a>
              

            </ul>
          </div>
        </nav>