<nav
          id="sidebarMenu"
          class="col-md-2 text-white col-lg-2 d-md-block bg-dark sidebar"
        >
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <a class="nav-link active" href="./disease.html">Add disease</a>
              <a class="nav-link" href="./diseaseList.htm"> Disease list </a>
              <a class="nav-link active" href="./drug.html"> Add drug </a>
              <a class="nav-link" href="./drugList.htm"> Drug list </a>
            </ul>
          </div>
        </nav>