<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap -->
    <link href="/plugins/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Admin Login</title>
  </head>
  <body class="text-center">
    <div class="admin-form">
      <form class="form-signin" method="POST" action="/admin/login">
        <img
          class="mb-4"
          src="/Backend/images/main logo.png"
          alt=""
          width="250"
        />
        <h1 class="h3 mb-3 font-weight-normal">Admin Panel</h1>
        <label for="email" class="sr-only">Email</label>
        <input
          type="email"
          id="email"
          class="form-control"
          placeholder="Email"
          name="email"
          required
        />
        <label for="inputPassword" class="sr-only">Password</label>
        <input
          type="password"
          id="inputPassword"
          class="form-control"
          placeholder="Password"
          name="password"
          required
        />
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me" name="remember" /> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          Sign in
        </button>
      </form>
    </div>

    <script src="/plugins/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>