<!DOCTYPE html>
<html lang="en">
  <%-include('partials/header.ejs')%>
  <body>
    <nav
      class="navbar navbar-light sticky-top bg-light flex-md-nowrap p-0 shadow"
    >
      <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#"
        ><img width="150" src="./images/main logo.png" alt=""
      /></a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <nav
          id="sidebarMenu"
          class="col-md-2 text-white col-lg-2 d-md-block bg-dark sidebar"
        >
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <span class="nav-title">Member Management</span>
                <span class="nav-links">
                  <a class="nav-link" href="./index.html"> Doctor list </a>
                  <a class="nav-link" href="./paitentTable.html">
                    Prescription Generate
                  </a>
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-title">Disease</span>
                <span class="nav-links">
                  <a class="nav-link active" href="./disease.html">
                    Add disease
                  </a>
                  <a class="nav-link" href="./diseaseList.htm">
                    Disease list
                  </a>
                </span>
              </li>
              <li class="nav-item">
                <span class="nav-title">Drug</span>
                <span class="nav-links">
                  <a class="nav-link active" href="./drug.html"> Add drug </a>
                  <a class="nav-link" href="./drugList.htm"> Drug list </a>
                </span>
              </li>
            </ul>
          </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
          <div class="table-responsive text-nowrap text-center mt-5">
            <table class="table table-hover">
              <thead class="thead-light">
                <tr>
                  <th scope="col">Date</th>
                  <th scope="col">Subscription Valid on</th>
                  <th scope="col">Block Access</th>
                  <th scope="col">Notify Doctor</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Jhon Doe</td>
                  <td>12 May 2021</td>
                  <td>
                    <i class="text-warning fas fa-exclamation-triangle"></i>
                  </td>
                  <td><i class="text-success fas fa-bell"></i></td>
                </tr>
                <tr>
                  <td>Jhon Doe</td>
                  <td>12 May 2021</td>
                  <td>
                    <i class="text-warning fas fa-exclamation-triangle"></i>
                  </td>
                  <td><i class="text-success fas fa-bell"></i></td>
                </tr>
                <tr>
                  <td>Jhon Doe</td>
                  <td>12 May 2021</td>
                  <td>
                    <i class="text-warning fas fa-exclamation-triangle"></i>
                  </td>
                  <td><i class="text-success fas fa-bell"></i></td>
                </tr>
                <tr>
                  <td>Jhon Doe</td>
                  <td>12 May 2021</td>
                  <td>
                    <i class="text-warning fas fa-exclamation-triangle"></i>
                  </td>
                  <td><i class="text-success fas fa-bell"></i></td>
                </tr>
                <tr>
                  <td>Jhon Doe</td>
                  <td>12 May 2021</td>
                  <td>
                    <i class="text-warning fas fa-exclamation-triangle"></i>
                  </td>
                  <td><i class="text-success fas fa-bell"></i></td>
                </tr>
                <tr>
                  <td>Jhon Doe</td>
                  <td>12 May 2021</td>
                  <td>
                    <i class="text-warning fas fa-exclamation-triangle"></i>
                  </td>
                  <td><i class="text-success fas fa-bell"></i></td>
                </tr>
              </tbody>
            </table>
          </div>
        </main>
      </div>
    </div>

    <script src="/plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/scripts.js"></script>
  </body>
</html>
