<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prescription</title>
    <!--Fontawesome-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    />
    <!--jQuery-->
    <script src="plugins/jQuery/jquery.min.js"></script>
    <!--Bootstrap css and js-->
    <link rel="stylesheet" href="plugins/bootstrap/bootstrap.min.css" />
    <script src="plugins/bootstrap/bootstrap.bundle.min.js"></script>
    <!--Barcode Script-->
    <script src="plugins/barcode/jquery-barcode.min.js"></script>
    <!-- Auto Complete css and js -->
    <link rel="stylesheet" href="plugins/autocomplete/autocomplete.min.css" />
    <script src="plugins/autocomplete/jquery.autocomplete.min.js"></script>
    <!--Summernote css and js-->
    <link rel="stylesheet" href="plugins/summernote/summernote-bs4.min.css" />
    <script src="plugins/summernote/summernote-bs4.min.js"></script>
    <!--Custom Styles-->
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <!--Header Section Start-->
    <header>
      <div class="container-fluid">
        <div class="top-user-info">
          <button type="button" class="btn btn-dark">Logout</button>
          <div class="barcode-input">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                placeholder="Barcode Scanner"
                aria-label="Username"
                aria-describedby="basic-addon1"
              />
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"
                  ><i class="fas fa-qrcode"></i
                ></span>
              </div>
            </div>
          </div>
          <div class="payment">
            <i class="fas fa-hand-holding-usd"></i>
            <div class="payment-sec shadow">
              <ul>
                <li><a href="#">Payment</a></li>
                <li><a href="#">Date</a></li>
                <li><a href="#">Subscription</a></li>
                <li><a href="#">subscriptions valid till 12 Oct 2020</a></li>
              </ul>
            </div>
          </div>
          <div class="save-options">
            <a href="preview">
              <i
                data-toggle="tooltip"
                data-placement="bottom"
                title="Preview"
                class="fas fa-eye"
              ></i
            ></a>
            <a href="#">
              <i
                data-toggle="tooltip"
                data-placement="bottom"
                title="Save and Mail"
                class="fas fa-envelope-open"
              ></i
            ></a>
            <a href="#"
              ><i
                data-toggle="tooltip"
                data-placement="bottom"
                title="Save and Print Without Header"
                class="fas fa-save"
              ></i
            ></a>
            <a href="#"
              ><i
                data-toggle="tooltip"
                data-placement="bottom"
                title="Only Save"
                class="far fa-save"
              ></i
            ></a>
          </div>
        </div>
      </div>
    </header>
    <!--Header Section End-->

    <!--Middle Content Start-->
    <main class="middle-content">
      <div class="container-fluid bg-light">
        <div class="row">
          <i class="fas fa-bars left-bar bar"></i>
          <aside class="col-lg-3 py-4 border-right left-sidebar">
            <div class="form-row mb-3">
              <label for="cc">C/C</label>
              <div class="input-group mb-3">
                <input
                  type="text"
                  class="form-control suggest-box"
                  id="ixTemplate"
                  placeholder="Get C/C Template"
                />
              </div>
              <textarea
                type="text"
                rows="8"
                class="form-control form-control-sm"
                id="cc"
              ></textarea>
            </div>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link active"
                  id="home-tab"
                  data-toggle="tab"
                  href="#oeToBox"
                  role="tab"
                  aria-controls="home"
                  aria-selected="true"
                  >G/E</a
                >
              </li>
              <li class="nav-item" id="boxToOeNav" role="presentation">
                <a
                  class="nav-link"
                  id="profile-tab"
                  data-toggle="tab"
                  href="#boxToOe"
                  role="tab"
                  aria-controls="profile"
                  aria-selected="false"
                  >S/E</a
                >
              </li>
              <li class="nav-item" role="presentation">
                <a
                  class="nav-link"
                  id="contact-tab"
                  data-toggle="tab"
                  href="#oe"
                  role="tab"
                  aria-controls="contact"
                  aria-selected="false"
                  >Special Note</a
                >
              </li>
            </ul>
            <div class="tab-content mt-3" id="myTabContent">
              <div
                class="tab-pane fade show active"
                id="oeToBox"
                role="tabpanel"
                aria-labelledby="oe-tab"
              >
                <div class="form-group row">
                  <label for="bp" class="col-sm-3 col-form-label">BP</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="bp"
                    />
                  </div>
                  <label for="pluse" class="col-sm-3 col-form-label"
                    >Pluse</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="pluse"
                    />
                  </div>
                  <label for="temp" class="col-sm-3 col-form-label">Temp</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="temp"
                    />
                  </div>
                  <label for="heart" class="col-sm-3 col-form-label"
                    >Heart</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="heart"
                    />
                  </div>
                  <label for="lungs" class="col-sm-3 col-form-label"
                    >Lungs</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="lungs"
                    />
                  </div>
                  <label for="abd" class="col-sm-3 col-form-label">Abd</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="abd"
                    />
                  </div>
                  <label for="anaemia" class="col-sm-3 col-form-label"
                    >Anaemia</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="anaemia"
                    />
                  </div>
                  <label for="jaundice" class="col-sm-3 col-form-label"
                    >Jaundice</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="jaundice"
                    />
                  </div>
                  <label for="cyanosis" class="col-sm-3 col-form-label"
                    >Cyanosis</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="cyanosis"
                    />
                  </div>
                  <label for="oedema" class="col-sm-3 col-form-label"
                    >Oedema</label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="suggest-box form-control form-control-sm"
                      id="oedema"
                    />
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade py-2"
                id="boxToOe"
                role="tabpanel"
                aria-labelledby="boxToOe-tab"
              >
                <ul>
                  <li>Nervous System</li>
                  <div class="input-section">
                    <input
                      placeholder="Inspection"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Palpation "
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Percussion"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Auscultation"
                      type="text"
                      class="form-control form-control-sm"
                    />
                  </div>
                  <li>Respiratory System</li>
                  <div class="input-section">
                    <input
                      placeholder="Inspection"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Palpation "
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Percussion"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Auscultation"
                      type="text"
                      class="form-control form-control-sm"
                    />
                  </div>
                  <li>CVS</li>
                  <div class="input-section">
                    <input
                      placeholder="Inspection"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Palpation "
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Percussion"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Auscultation"
                      type="text"
                      class="form-control form-control-sm"
                    />
                  </div>
                  <li>Alimentary System</li>
                  <div class="input-section">
                    <input
                      placeholder="Inspection"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Palpation "
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Percussion"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Auscultation"
                      type="text"
                      class="form-control form-control-sm"
                    />
                  </div>
                  <li>Musculoskeletal System</li>
                  <div class="input-section">
                    <input
                      placeholder="Inspection"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Palpation "
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Percussion"
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <input
                      placeholder="Auscultation"
                      type="text"
                      class="form-control form-control-sm"
                    />
                  </div>
                </ul>
              </div>
              <div
                class="tab-pane fade py-2"
                id="oe"
                role="tabpanel"
                aria-labelledby="oe-tab"
              >
                <textarea rows="6" class="form-control"></textarea>
              </div>
            </div>

            <div class="pbox-oe-section p-3 border-top">
              <div class="form-group row">
                <label for="dHistory">Drug History</label>
                <div class="input-group mb-1">
                  <input
                    id="dHistory"
                    type="text"
                    class="suggest-box form-control"
                    placeholder="Search"
                    aria-label="Search"
                    aria-describedby="basic-addon1"
                  />
                </div>
                <div class="custom-textarea mb-3" contenteditable="true"></div>
              </div>
            </div>
            <!--Health calculateing section-->
            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a
                  class="nav-item nav-link active"
                  id="nav-bmi-tab"
                  data-toggle="tab"
                  href="#nav-bmi"
                  role="tab"
                  aria-controls="nav-bmi"
                  aria-selected="true"
                  >BMI</a
                >
                <a
                  class="nav-item nav-link"
                  id="nav-bmr-tab"
                  data-toggle="tab"
                  href="#nav-bmr"
                  role="tab"
                  aria-controls="nav-bmr"
                  aria-selected="false"
                  >BMR</a
                >
                <a
                  class="nav-item nav-link"
                  id="nav-z-score-tab"
                  data-toggle="tab"
                  href="#nav-z-score"
                  role="tab"
                  aria-controls="nav-z-score"
                  aria-selected="false"
                  >Z-Score</a
                >
                <a
                  class="nav-item nav-link"
                  id="nav-edd-tab"
                  data-toggle="tab"
                  href="#nav-edd"
                  role="tab"
                  aria-controls="nav-edd"
                  aria-selected="false"
                  >EDD</a
                >
              </div>
            </nav>
            <div class="tab-content pt-3" id="nav-tabContent">
              <div
                class="tab-pane fade show active"
                id="nav-bmi"
                role="tabpanel"
                aria-labelledby="nav-bmi-tab"
              >
                <div class="form-row">
                  <div class="form-group col-4">
                    <label for="bmiWeight">Weight (KG)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmiWeight"
                      aria-describedby="Weight"
                      placeholder="Weight"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label for="bmiHeight">Height (Feet)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmiHeight"
                      aria-describedby="Height"
                      placeholder="Height"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label for="bmi">BMI</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmi"
                      aria-describedby="bmi"
                      placeholder="BMI"
                      disabled
                    />
                  </div>
                  <div class="form-group col-12">
                    <label for="bmiClass"
                      >Class : <span id="bmiClass"></span
                    ></label>
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="nav-bmr"
                role="tabpanel"
                aria-labelledby="nav-bmr-tab"
              >
                <div class="form-row">
                  <div class="form-group col-4">
                    <label for="bmrWeight">Weight (KG)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmrWeight"
                      aria-describedby="Weight"
                      placeholder="Weight"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label for="bmrHeight">Height (Feet)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmrHeight"
                      aria-describedby="Height"
                      placeholder="Height"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label for="bmrAge">Age</label
                    ><input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmrAge"
                      aria-describedby="bmr age"
                      placeholder="Age"
                    />
                  </div>
                  <div class="form-group col-6">
                    <label class="d-block">Gender</label>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="bmrGenderMale"
                        name="bmrGender"
                        class="custom-control-input"
                      />
                      <label class="custom-control-label" for="bmrGenderMale"
                        >Male</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="bmrGenderFemale"
                        name="bmrGender"
                        class="custom-control-input"
                      />
                      <label class="custom-control-label" for="bmrGenderFemale"
                        >Female</label
                      >
                    </div>
                  </div>
                  <div class="form-group col-6">
                    <label for="bmrExcercise">Activity</label
                    ><select
                      id="bmrExcercise"
                      class="custom-select custom-select-sm"
                    >
                      <option selected disabled>Choose</option>
                      <option value="1">No excercise</option>
                      <option value="2">Light excercise</option>
                      <option value="3">Moderate</option>
                      <option value="4">Very active</option>
                      <option value="5">Heavy active</option>
                    </select>
                  </div>
                  <div class="form-group col-5">
                    <label for="bmr">BMR</label
                    ><input
                      type="number"
                      class="form-control form-control-sm"
                      id="bmr"
                      aria-describedby="bmr"
                      placeholder="BMR"
                      disabled
                    />
                  </div>
                  <div class="form-group col-7">
                    <label for="calorie">Calorie Need</label
                    ><input
                      type="number"
                      class="form-control form-control-sm"
                      id="calorie"
                      aria-describedby="calorie"
                      placeholder="Calorie"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="nav-z-score"
                role="tabpanel"
                aria-labelledby="nav-z-score-tab"
              >
                <div class="form-row">
                  <div class="form-group col-8">
                    <label for="zScore-ddmmyy">Date of Birth</label>
                    <input
                      type="date"
                      class="form-control form-control-sm"
                      id="zScore-ddmmyy"
                      aria-describedby="Date of Birth"
                    />
                  </div>
                  <div class="form-group col-4">
                    <label for="zScoreWeight">Weight (KG)</label>
                    <input
                      type="number"
                      class="form-control form-control-sm"
                      id="zScoreWeight"
                      aria-describedby="Weight"
                      placeholder="Weight"
                    />
                  </div>
                  <div class="form-group col-6">
                    <label class="d-block">Gender</label>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="zScoreGenderMale"
                        name="zScoreGender"
                        class="custom-control-input"
                      />
                      <label class="custom-control-label" for="zScoreGenderMale"
                        >Male</label
                      >
                    </div>
                    <div
                      class="custom-control custom-radio custom-control-inline"
                    >
                      <input
                        type="radio"
                        id="zScoreGenderFemale"
                        name="zScoreGender"
                        class="custom-control-input"
                      />
                      <label
                        class="custom-control-label"
                        for="zScoreGenderFemale"
                        >Female</label
                      >
                    </div>
                  </div>
                  <div class="form-group col-8">
                    <label for="zScoreResult">Result</label
                    ><input
                      type="text"
                      class="form-control form-control-sm"
                      id="zScoreResult"
                      aria-describedby="Result"
                      placeholder="Result"
                      disabled
                    />
                  </div>
                  <div class="form-group col-4">
                    <label for="zScoreDays">Days</label
                    ><input
                      type="number"
                      class="form-control form-control-sm"
                      id="zScoreDays"
                      aria-describedby="Days"
                      placeholder="Days"
                      disabled
                    />
                  </div>

                  <div class="form-group col-12">
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      aria-describedby="Ideal Weight"
                      placeholder="Ideal Weight"
                      disabled
                    />
                  </div>
                </div>
              </div>
              <div
                class="tab-pane fade"
                id="nav-edd"
                role="tabpanel"
                aria-labelledby="nav-edd-tab"
              >
                <div class="form-row">
                  <div class="form-group col-12">
                    <label for="edd-lmp">LMP</label>
                    <input
                      type="date"
                      class="form-control form-control-sm"
                      id="edd-lmp"
                      aria-describedby="LMP"
                      required
                    />
                  </div>
                  <div class="form-group col-7">
                    <label>Gestational Age (LMP)</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      aria-describedby="Gestational Age (LMP)"
                      placeholder="Gestational Age (LMP)"
                      disabled
                    />
                  </div>
                  <div class="form-group col-5">
                    <label>EDD (LMP)</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      aria-describedby="EDD (LMP)"
                      placeholder="EDD (LMP)"
                      disabled
                    />
                  </div>
                </div>
              </div>
            </div>
            <div class="printOpt">
              <div class="form-group">
                <span
                  class="font-weight-bold mr-3"
                  style="position: relative; bottom: 2px"
                  >Print:
                </span>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="pastHo" />
                  <label class="form-check-label" for="pastHo">Past H/O</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="presentHo"
                  />
                  <label class="form-check-label" for="presentHo"
                    >Present H/O</label
                  >
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="notes" />
                  <label class="form-check-label" for="notes">Notes</label>
                </div>
                <div class="form-check form-check-inline">
                  <input class="form-check-input" type="checkbox" id="EDD" />
                  <label class="form-check-label" for="EDD">EDD</label>
                </div>
              </div>
            </div>
            <!-- <div class="drive-sec border-top pt-3">
            <h5>Quick Upload</h5>
            <div class="custom-file">
              <input type="file" class="custom-file-input img-upload" id="customFile" />
              <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <img style="display: none" class="preview-img border-bottom pb-2 img-thumbnail img-fluid mt-3" src=""
              alt="" />
            <button class="btn btn-info btn-sm btn-upload mt-2" style="display: none">
              Upload
            </button>
            <div class="drive-imgs row px-3">
              <div class="col-md-3 p-0">
                <img class="img-fluid single-img" data-toggle="modal" data-target="#imageModal"
                  src="./images/doctor.jpg" alt="" />
              </div>
              <div class="col-md-3 p-0">
                <img class="img-fluid single-img" data-toggle="modal" data-target="#imageModal"
                  src="./images/doctor.png" alt="" />
              </div>
              <div class="col-md-3 p-0">
                <img class="img-fluid single-img" data-toggle="modal" data-target="#imageModal"
                  src="./images/doctor.webp" alt="" />
              </div>
              <div class="col-md-3 p-0">
                <img class="img-fluid single-img" data-toggle="modal" data-target="#imageModal"
                  src="./images/doctor.png" alt="" />
              </div>
            </div>
          </div> -->
          </aside>
          <!-- Image show modal -->
          <!-- Button trigger modal -->
          <!-- Modal -->
          <div
            class="modal fade"
            id="imageModal"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">
                    Image Gallery
                  </h5>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <img class="img-fluid img-gallery" src="" alt="" />
                  <p class="mt-3">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Magnam atque, magni, ducimus illo aliquid ab deserunt sit
                    error totam, eius itaque sunt voluptatum dolor accusantium
                    accusamus non vel inventore cumque.
                  </p>
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-info"
                    data-dismiss="modal"
                  >
                    Close
                  </button>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 py-4">
            <!-- <form class="border-bottom mb-3 patient-form" style="display: none">
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input placeholder="Patient name" type="text" class="form-control form-control-sm" id="name" required />
              </div>
              <div class="col-md-6 mb-3">
                <input placeholder="Patient address" type="text" class="form-control form-control-sm" id="address"
                  required />
              </div>
            </div>
            <div class="form-row">
              <div class="col-md-6 mb-3">
                <input placeholder="Patient mobile" type="tel" class="form-control form-control-sm" id="mobile"
                  required />
              </div>
              <div class="col-md-6 mb-3">
                <input disabled type="text" placeholder="Generate ID" class="form-control form-control-sm" id="weight"
                  required />
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 col-lg-3 mb-3">
                <select class="custom-select custom-select-sm" id="sex" required>
                  <option selected disabled value="">Sex</option>
                  <option>Male</option>
                  <option>Female</option>
                  <option>Other</option>
                </select>
              </div>
              <div class="col-sm-6 col-lg-3 mb-3">
                <input placeholder="Patient age" type="number" class="form-control form-control-sm" id="age" required />
              </div>
              <div class="col-lg-6 mb-3">
                <input type="date" class="form-control form-control-sm" id="date" required />
              </div>
            </div>
            <div class="form-row">
              <div class="col-sm-6 col-lg-3 mb-3">
                <select class="custom-select custom-select-sm" id="pregnancy" required>
                  <option selected disabled value="">Pregnancy</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
              </div>
              <div class="col-sm-6 col-lg-3 mb-3">
                <input type="number" placeholder="Weight" class="form-control form-control-sm" id="weight" required />
              </div>
            </div>
          </form> -->
            <!-- <button class="btn btn-sm add-patient btn-info mb-3">
            Add Patient
          </button> -->

            <form class="mb-3">
              <div class="form-row">
                <div class="col-12 mb-3">
                  <input
                    placeholder="Patient name"
                    type="text"
                    class="form-control form-control-sm"
                    id="patientName"
                    value="Patient Name"
                    disabled
                  />
                </div>
                <div class="col-3 mb-3">
                  <input
                    type="text"
                    placeholder="Weight"
                    class="form-control form-control-sm"
                    id="patientWeight"
                    value="Weight"
                    disabled
                  />
                </div>
                <div class="col-2 mb-3">
                  <select class="custom-select custom-select-sm" id="patientSex" disabled>
                    <option value="default">Sex</option>
                    <option value="m">Male</option>
                    <option value="f">Female</option>
                    <option value="o">Other</option>
                  </select>
                </div>
                <div class="col-3 mb-3">
                  <input
                    type="Text"
                    placeholder="Age"
                    class="form-control form-control-sm"
                    id="patientAge"
                    disabled
                  />
                </div>
                <div class="col-4 mb-3">
                  <select
                    class="custom-select custom-select-sm"
                    id="patientPregnancyStatus"
                    disabled
                  >
                    <option value="defult" >Pregnancy Status</option>
                    <option value="yes">Pregnancy Status : Yes</option>
                    <option value="no">Pregnancy Status : No</option>
                  </select>
                </div>
              </div>
            </form>
            <div class="form-row">
              <div class="input-group col-sm-5 mb-3">
                <input
                  placeholder="Disease/Condition/Dx"
                  type="text"
                  class="suggest-box form-control form-control-sm"
                  id="disease"
                />
              </div>
              <div class="col-sm-4 my-1 my-sm-0">
                <select class="custom-select custom-select-sm">
                  <option selected disabled>Previous Prescription</option>
                  <option value="1">12-01-2020 | Dr Sultana</option>
                  <option value="1">12-01-2020 | Dr Sultana</option>
                  <option value="1">12-01-2020 | Dr Sultana</option>
                  <option value="1">12-01-2020 | Dr Sultana</option>
                  <option value="1">12-01-2020 | Dr Sultana</option>
                </select>
              </div>
              <div class="col-sm-3 my-3 my-sm-0">
                <button class="btn btn-sm btn-info text-nowrap">
                  New Prescription
                </button>
              </div>
              <div class="form-group col-md-7">
                <input
                  type="text"
                  class="suggest-box form-control form-control-sm"
                  placeholder="Type Brand Name"
                />
              </div>
              <div class="form-group col-3">
                <input
                  type="number"
                  class="suggest-box form-control form-control-sm"
                  placeholder="Duration"
                  id="dose_duration-"
                />
              </div>
              <div class="form-group col-2">
                <select class="custom-select custom-select-sm">
                  <option disabled selected>Choose</option>
                  <option value="day">Day</option>
                  <option value="Month">Month</option>
                </select>
              </div>
              <div class="form-group col-sm-5">
                <input
                  type="text"
                  class="suggest-box form-control form-control-sm"
                  placeholder="Type Dose"
                  id="dose_type"
                />
              </div>
              <div class="form-group col-sm-2">
                <select class="custom-select custom-select-sm">
                  <option value="beforeEat">খাবার আগে</option>
                  <option value="afterEat">খাবার পরে</option>
                </select>
              </div>
              <div class="col-sm-4">
                <input
                  type="text"
                  class="suggest-box form-control form-control-sm"
                  placeholder="Custom Doses"
                />
              </div>
              <div class="col text-right">
                <button class="btn btn-sm btn-dark">Add</button>
              </div>
            </div>
            <div class="bg-white p-3 border editor">
              <div class="tab-name">
                <strong
                  >Tab. <span class="genericName">Napa</span>
                  <span
                    class="brandName"
                    style="display: none"
                    class="genericBrand"
                    >Paracetamol</span
                  >
                  625 mg
                </strong>
                <span>
                  ------- ৭ দিন <i class="reload fas fa-sync-alt"></i>
                  <div class="medicin-name">
                    <input
                      type="text"
                      class="form-control form-control-sm mb-2"
                      placeholder="Search"
                    />
                    <table class="table table-sm">
                      <tr>
                        <td>Sqaure</td>
                        <td>Paracetamol</td>
                      </tr>
                      <tr>
                        <td>Sqaure</td>
                        <td>Paracetamol</td>
                      </tr>
                      <tr>
                        <td>Sqaure</td>
                        <td>Paracetamol</td>
                      </tr>
                    </table>
                  </div>
                  <span>Paracetamol</span><span class="ddIneraction"></span>
                  <i
                    class="fas fa-exclamation-triangle text-warning warn-btn"
                  ></i>
                  <div class="warn-text" style="display: none">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Consequatur, officiis expedita voluptatum corrupti
                      praesentium illo accusantium dolor accusamus? Praesentium
                      iste rem debitis quis saepe. Cum ipsum nihil eum
                      voluptatum doloremque?
                    </p>
                  </div>
                </span>
                <span class="float-right"><i class="fas fa-hand-rock"></i></span
                ><br />
                ১+০+১
              </div>
              <div class="tab-name">
                <strong
                  >Tab. <span class="genericName">Napa</span>
                  <span
                    class="brandName"
                    style="display: none"
                    class="genericBrand"
                    >Paracetamol</span
                  >
                  625 mg
                </strong>
                <span>
                  ------- ৭ দিন <i class="reload fas fa-sync-alt"></i>
                  <div class="medicin-name">
                    <input
                      type="text"
                      class="form-control form-control-sm mb-2"
                      placeholder="Search"
                    />
                    <table class="table table-sm">
                      <tr>
                        <td>Sqaure</td>
                        <td>Paracetamol</td>
                      </tr>
                      <tr>
                        <td>Sqaure</td>
                        <td>Paracetamol</td>
                      </tr>
                      <tr>
                        <td>Sqaure</td>
                        <td>Paracetamol</td>
                      </tr>
                    </table>
                  </div>
                  <span>Paracetamol</span><span class="ddIneraction"></span>
                  <i
                    class="fas fa-exclamation-triangle text-warning warn-btn"
                  ></i>
                  <div class="warn-text" style="display: none">
                    <p>
                      Lorem ipsum dolor sit amet consectetur adipisicing elit.
                      Consequatur, officiis expedita voluptatum corrupti
                      praesentium illo accusantium dolor accusamus? Praesentium
                      iste rem debitis quis saepe. Cum ipsum nihil eum
                      voluptatum doloremque?
                    </p>
                  </div>
                </span>
                <span class="float-right"><i class="fas fa-hand-rock"></i></span
                ><br />
                ১+০+১
              </div>
            </div>
            <label for="ix" class="mt-4">
              <h4 class="m-0">Investigation</h4>
            </label>
            <div class="input-group mb-3">
              <input
                type="text"
                class="suggest-box form-control"
                placeholder="Get I/X Template"
                id="investigation_input"
              />
            </div>
            <textarea id="ix" class="form-control"></textarea>
            <h4 class="mt-4">Advice</h4>
            <div class="input-group mb-3">
              <input
                type="text"
                class="suggest-box form-control"
                placeholder="Get Advice Template"
                id="advice_input"
              />
            </div>
            <div class="customTextbox"></div>
            <div class="form-row mt-3">
              <div class="form-group pr-0" style="width: 70px">
                <input
                  type="number"
                  class="form-control form-control-sm"
                  style="border-radius: 0; border-right: 0"
                />
              </div>
              <div class="form-group p-0">
                <select
                  class="custom-select custom-select-sm"
                  style="border-radius: 0; border-left: 0; width: 70px"
                >
                  <option value="day">দিন</option>
                  <option value="month">মাস</option>
                </select>
                <span class="ml-2">পর আসবেন।</span>
              </div>
            </div>
            <h4 class="mt-4">
              Counselling
              <button class="ml-5 btn-sm btn btn-info">Print</button>
              <button class="btn-sm btn btn-info">Edit</button>
              <button class="btn-sm btn btn-info">Preview</button>
            </h4>
            <div class="input-group mb-3">
              <input
                type="text"
                class="suggest-box form-control"
                placeholder="Get Counselling Template"
                id="counselling_input"
              />
            </div>
            <div class="customTextbox"></div>
          </div>
          <i class="fas fa-bars right-bar bar"></i>
          <aside class="col-lg-3 py-4 border-left right-sidebar">
            <!-- <h5>Patient Serial</h5>
            <div class="table-responsive patient-serial">
              <table class="table table-sm text-center table-hover border">
                <thead class="thead-light">
                  <tr>
                    <th scope="col">Sl no</th>
                    <th scope="col">Name</th>
                    <th scope="col">Schedule</th>
                    <th scope="col">Finished</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>Jhon Doe</td>
                    <td>12:00 AM</td>
                    <td><i class="far text-success fa-check-circle"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>12:00 AM</td>
                    <td><i class="far text-success fa-check-circle"></i></td>
                  </tr>
                  <tr class="table-warning">
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-play text-danger"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">4</th>
                    <td>Jhon Doe</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">5</th>
                    <td>Jacob</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">6</th>
                    <td>Larry</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">7</th>
                    <td>Jhon Doe</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">8</th>
                    <td>Jacob</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">9</th>
                    <td>Larry</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">10</th>
                    <td>Larry</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">11</th>
                    <td>Larry</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">12</th>
                    <td>Larry</td>
                    <td>12:00 AM</td>
                    <td><i class="fas fa-ellipsis-h text-info"></i></td>
                  </tr>
                </tbody>
              </table>
            </div> -->
            <!-- <span class="btn btn-info my-3 btn-sm profile-btn">See Profile</span> -->
            <!-- <div class="user-info border-bottom" style="display: none"> -->
            <div class="user-info border-bottom">
              <div class="user-img">
                <img src="images/doctor.jpg" alt="" />
              </div>
              <p contenteditable="true" id="doctorName">Dr.</p>
              <p>MBBS</p>
              <p id="doctorBMDC">BMDC Reg. No- 112589</p>
              <p contenteditable="true" id="doctorCollege">Chittagong Medical College</p>
              <p contenteditable="true" id="doctorNumber">+8801818-88888</p>
              
              <button class="btn btn-info btn-sm" id="updateDoctorInfo">Save</button>
              <div class="border-bottom pb-3 mt-2">
                <h5>Chember Address</h5>
                <form class="form-row mt-3">
                  <div class="form-group col-6">
                    <label>District</label>
                    <select class="custom-select custom-select-sm">
                      <option selected value="dhaka">Dhaka</option>
                      <option value="chattogram">Chattogram</option>
                      <option value="Barishal">Barishal</option>
                      <option value="shylet">Shylet</option>
                      <option value="comilla">Comilla</option>
                    </select>
                  </div>
                  <div class="form-group col-6">
                    <label>City</label>
                    <select class="custom-select custom-select-sm">
                      <option selected value="chawkbazar">Chawkbazar</option>
                      <option value="andorkillah">Andorkillah</option>
                      <option value="khatungong">Khatungong</option>
                      <option value="chaktai">Chaktai</option>
                      <option value="teribazar">Teribazar</option>
                    </select>
                  </div>
                  <div class="form-group col-12">
                    <label for="address">Address</label>
                    <input
                      type="text"
                      class="form-control form-control-sm"
                      id="doctorChemberAddress"
                      placeholder="Enter Address"
                    />
                  </div>
                  <div class="form-group col-12">
                    <label for="contact-no">Contact No</label>
                    <input
                      type="tel"
                      class="form-control form-control-sm"
                      id="doctorChemberContactNumber"
                      placeholder="Enter Contact No"
                    />
                  </div>
                  <button id="chemberAddressUpdate" class="btn btn-info btn-sm">
                    Save
                  </button>
                </form>
              </div>
              <div class="border-bottom pageSetup mt-3 pb-3">
                <h5>Page Setup</h5>
                <a href="header_edit.html">Header Edit</a>
                <a href="page_setup.html">Page Size Edit</a>
                <a href="#">Payment</a>
                <a href="#">Contact Us</a>
              </div>
            </div>
            <div class="border-bottom drugDatabase mt-3 pb-3">
              <h5>Drug Database</h5>
              <select class="custom-select type-selection custom-select-sm">
                <option selected disabled>Choose</option>
                <option value="brand">Brand</option>
                <option value="generic">Generic</option>
                <option value="indication">Indication</option>
              </select>
              <div class="input-group mt-1">
                <input
                  id="drugSearch"
                  type="text"
                  class="suggest-box form-control"
                  placeholder="Search"
                  aria-label="Search"
                  aria-describedby="basic-addon1"
                />
              </div>
              <div class="brandGeneric">
                <p class="mt-3"><strong>Generic Name: </strong>Paracetamol</p>
                <ul>
                  <li>
                    <p>Indication</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Dose</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Renal Dose</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Administration Dose</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Contraindication</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Pregnancy Category</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Mode of Action</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                  <li>
                    <p>Price</p>
                    <span
                      ><i class="indication-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <p class="indication-desc border">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                    Fugit quidem hic nobis perferendis id veritatis.
                  </p>
                </ul>
              </div>
              <div class="indication-section mt-3">
                <ul>
                  <li>
                    <p>Almoripntgjhj</p>
                    <span
                      ><i class="indication-list-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <ul>
                    <li>
                      <p>Indication</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Dose</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Renal Dose</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Administration Dose</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Contraindication</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Pregnancy Category</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Mode of Action</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Price</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                  </ul>
                  <li>
                    <p>Almoripnt</p>
                    <span
                      ><i class="indication-list-down fas fa-sort-down"></i
                    ></span>
                  </li>
                  <ul>
                    <li>
                      <p>Indication</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Dose</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Renal Dose</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Administration Dose</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Contraindication</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Pregnancy Category</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Mode of Action</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                    <li>
                      <p>Price</p>
                      <span
                        ><i class="indication-down fas fa-sort-down"></i
                      ></span>
                    </li>
                    <p class="indication-desc border">
                      Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                      Fugit quidem hic nobis perferendis id veritatis.
                    </p>
                  </ul>
                </ul>
              </div>
            </div>
          </aside>
        </div>
      </div>
    </main>
    <!--Middle Content End-->
    <!-- 
    --All Right Reserved by HurtleBee LTD
  -->

    <!--Custom scripts-->
    <script>
      $(".customTextbox").summernote({
        tabsize: 2,
        height: 150,
        toolbar: [
          ["style", ["style"]],
          ["font", ["bold", "underline", "clear"]],
          ["fontname", ["fontname"]],
          ["fontStyle", ["fontsize"]],
          ["height", ["height"]],
          ["color", ["color"]],
          ["para", ["ul", "ol", "paragraph"]],
          ["view", ["fullscreen", "help"]],
        ],
      });
      $(".editor").summernote({
        tabsize: 2,
        height: 350,
        toolbar: [
          ["style", ["style"]],
          ["font", ["bold", "underline", "clear"]],
          ["fontname", ["fontname"]],
          ["fontStyle", ["fontsize"]],
          ["height", ["height"]],
          ["color", ["color"]],
          ["para", ["ul", "ol", "paragraph"]],
          ["view", ["fullscreen", "help"]],
        ],
      });
    </script>
    <script src="js/scripts.js"></script>
    <script src="js/api/dataFeeder.js"></script>
  </body>
</html>
