<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Prescription
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css")
        script(src="plugins/jQuery/jquery.min.js")
        link(rel="stylesheet", href="plugins/bootstrap/bootstrap.min.css")
        script(src="plugins/bootstrap/bootstrap.bundle.min.js")
        script(src="plugins/barcode/jquery-barcode.min.js")
        link(rel="stylesheet", href="plugins/autocomplete/autocomplete.min.css")
        script(src="plugins/autocomplete/jquery.autocomplete.min.js")
        link(rel="stylesheet", href="plugins/summernote/summernote-bs4.min.css")
        script(src="plugins/summernote/summernote-bs4.min.js")
        link(rel="stylesheet", href="css/style.css")
    body
        header
            .container-fluid
                .top-user-info
                    button.btn.btn-dark(type="button") Logout
                    .barcode-input
                        .input-group
                            input.form-control(type="text",placeholder="Barcode Scanner",aria-label="Username",aria-describedby="basic-addon1")
                            .input-group-prepend
                                span.input-group-text#basic-addon1
                                    i.fas.fa-qrcode
                    .payment
                        i.fas.fa-hand-holding-usd
                        .payment-sec.shadow
                            ul
                                li
                                    a(href="#") Payment
                                li
                                    a(href="#") Date
                                li
                                    a(href="#") Subscription
                                li
                                    a(href="#") subscriptions valid till 12 Oct 2020
                    .save-options
                        a(href="preview.html")
                            i(data-toggle="tooltip" data-placement="bottom" title="Preview" class="fas fa-eye")
                        a(href="#")
                            i(data-toggle="tooltip" data-placement="bottom" title="Save and Mail" class="fas fa-envelope-open")
                        a(href="#")
                            i(data-toggle="tooltip" data-placement="bottom" title="Save and Print Without Header" class="fas fa-save")
                        a(href="#")
                            i(data-toggle="tooltip" data-placement="bottom" title="Only Save" class="far fa-save")                       