<div class="container-fluid">
  <div class="top-user-info">
      <div class="save-options">
          <a href="preview.html">
              <i data-toggle="tooltip" data-placement="bottom" title="Preview" class="fas fa-eye"></i></a>
          <a href="#">
              <i data-toggle="tooltip" data-placement="bottom" title="Save and Mail"
                  class="fas fa-envelope-open"></i></a>
          <a href="#"><i data-toggle="tooltip" data-placement="bottom" title="Save and Print Without Header"
                  class="fas fa-save"></i></a>
          <a href="#"><i data-toggle="tooltip" data-placement="bottom" title="Only Save"
                  class="far fa-save"></i></a>
      </div>
      <button type="button" class="btn btn-dark">
          Logout
      </button>
  </div>
</div>